<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="المشروع_النهائي.Properties.Settings.posttutConnectionString"
      connectionString="Data Source=DESKTOP-121HIOQ\SQLEXPRESS;Initial Catalog=posttut;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>